*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #f5f5f5;
}

body,html{
	width: 100%;
	height: 100%;
}

nav{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 120px;
	font-size: 18px;
	line-height: 80px;
	padding:30px;
	box-sizing: border-box;
	clear: both;
	background-color: rgba(0,0,0,0.5);
}

.logo{
	float: left;
	width: 200px;
	height: 100px;
	line-height: normal;
	color:white;
	text-align: center;
}

.logo>a{
	color: white;
	text-decoration: none;
}

.logo>a>h3{
	font-family: 'Dancing Script', cursive;
	font-size: 36px;
}

.logo>a>p{
	font-size: 18px;
}

.nav{
	width: 500px;
	float: left;
	margin-left: 20px;
	list-style: none;
}

.nav>li{
	float: left;
	display: inline;
	margin-left: 50px;
}

.nav>li>a{
	text-decoration: none;
	color:white;
	font-family: 'Goldman', cursive;	
	font-weight: 800;
	font-size: 22px;
}

.active{
	font-size: 28px!important;
	text-decoration: underline!important;
}


.home{
	width: 100%;
	height: 100vh;
	background:url("img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	box-sizing: border-box;
}

.layer{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
}


.quote{
	width: 40%;
	height: 300px;
	float: right;
	margin-top:40vh;
	margin-right: 80px;
	text-align: center;
	color:white;
	font-size: 36px;
font-family: 'Crimson Pro', serif;
}


.galerija{
	width: 100%;
	padding: 50px;
	padding-bottom: 0;
	box-sizing: border-box;
}

.galerija>ul {
	list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.galerija>ul>li {
	margin:10px;
  	height: 40vh;
  	flex-grow: 1;
}

.galerija>ul>li:last-child {
  flex-grow: 10;
}

.galerija>ul>li>img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}



.about{
	padding: 50px;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	display:table;
}

.about>div{
	display: table-cell;
	vertical-align: middle;
}

.about-img{
	background:url("img/david.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	border-radius: 50%;
	width: 400px;
	height: 400px;
	float: left;
}

.about-text{
	float: right;
	width: 55%;
	height: 400px;
	display: table;
	font-family: 'Goldman', cursive;	
	text-align: justify;
}

.about-text>div{
	display: table-cell;
	vertical-align: middle;
}

.about-text>div>h3{
	font-size: 36px;
}

.about-text>div>p{
	font-size: 18px;
}


.contact{
	clear: both;
	width: 100%;
	height: auto;
	padding: 50px;
	box-sizing: border-box;
}

.social{
	width: 100%;
	height: auto;
}

.social>div{
	float: left;
	box-sizing: border-box;
	padding:100px;
	width: 25%;
	height:auto;
}

.social>div>a>img{
	width: 100%;
	height: 100%;
	text-align: center;
}

form{
	width: 100%;
	height: auto;
}

.inputs{
	float: left;
	width: 50%;
}

.inputs>input{
	width: 100%;
  padding: 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea{
	float: right;
	width: 45%;
	resize: none;
	padding: 6px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"]{
	clear: both;
	float: right;
  margin-top: 10px;
  background-color: rgba(0,0,0,0.6);
  padding: 15px 30px;
  border-radius: 10px;
  color: white;
font-size: 18px;
letter-spacing: 2px;
}

.passed{
	background-color: lightgreen;
}

.error{
	border:1px solid red!important;
}

footer{
	clear: both;
	width: 100%;
	padding:80px 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
}

footer>p{
	text-align: center;
	font-size:18px;
	font-family: "Times New Roman";
	color:rgba(0,0,0,0.6);
}
@media only screen and (max-width: 1024px){
	.social>div{
		padding:60px;
	}
	.about-img,.about-text{
		float: none;
		margin:0 auto;
	}
	.about-text>div>h3{
		text-align: center;
	}
}


@media only screen and (max-width: 768px){
	.layer{
		display: table;
	}
	.quote{
		display: table-cell;
		vertical-align: middle;
		float: none;
		margin:auto 0;
		font-size: 28px;
	}
	.social>div{
		width: 50%;
		padding:50px;
	}
	.inputs,textarea{
		width: 100%;
	}
	.about-text{
		width: 100%;
	}
	.about-img{
		width: 100%;
		width: 300px;
		height: 300px;
	}
	nav{
		padding:10px;
	}
	.logo{
		float: none;
		clear: both;
		margin:0 auto;
		height: 35px;
	}
	.logo>a>h3{
		font-size: 28px;
	}
	.logo>a>p{
		font-size: 14px;
	}
	.nav{
		width: 300px;
		text-align: center;
		float: none;
		clear: both;
		margin:0 auto;

	}
	.nav>li{
		margin-left: 15px;
	}
	.nav>li>a{
		font-size: 18px;
	}
	.active{
		font-size: 22px!important;
	}
}

@media only screen and (max-width: 425px){
	.galerija>ul{
		margin:0;
	}

	.social>div{
		width: 100%;
		padding:50px;
	}
	.about-img{
		width: 200px;
		height: 200px;
	}
	input[type="submit"]{
  padding: 5px 10px;
  width: 100%;
 
}
}
@media only screen and (max-width: 320px){
	.about-img{
		width: 100px;
		height: 100px;
	}
	.quote{
		font-size: 20px;
	}
	.social>div{
		padding: 0;
	}
}

@media (max-aspect-ratio: 1/1) {
  .galerija>ul>li {
    height: 30vh;
  }
}


@media (max-height: 480px) {
  .galerija>ul>li {
    height: 80vh;
  }
}


@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .galerija>ul {
    flex-direction: row;
  }

  .galerija>ul>li {
    height: auto;
    width: 100%;
  }
  .galerija>ul>li>img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}

.active-img{
	background-color: rgba(0,0,0,0.9);
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}

.active-img>img{
	width: auto;
	height: auto;
	max-height: 100%; 
    min-width: 0; 
    object-fit: none; 
    vertical-align: none;
}

.active-img>a{
	text-decoration: none;
	background-color: rgba(0,0,0,0.3);
	font-size: 20px;
	color:white;
	position: absolute;
	top: 0;
	right: 0;
}